.product-detail-benefits .benefits-icon img {
    width: 50px;
    height: auto;
}

.product-detail-benefits {
    background: lightgray;
    padding: 25px;
    display: flex;
    border: 20px solid lightyellow;
}

